@import '../assets/scss/variables';

.content{
    margin-bottom: 30px;
    // background-color: red;
    // height: 100px;
    margin-bottom: 50px;

    @media screen and (max-width: 468px)
    {
        .form_select{
            border-radius: 0px;
        }
    }
}
