@import "../../assets/variables";

.card {
  padding: 25px 25px;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: 2px solid $cor1;
  border-radius: 6px;
  color: $cor1;
  transition: 0.5s ease all;
  position: relative;

  width: 400px;
  &:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
    // transform: translate(5px, -5px);

    color: $cor4;
    background-color: $cor1;
  }


  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
    font-weight: bold;
  }

  .descricao {
    color: $cor1;
    font-weight: 400;
    position: absolute;
    font-size: 0.9rem;
    bottom: -40px;
  }
}
