@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$cor1: #f9f9f9;
$cor2: #2A2D32;

*{
    font-family: "Roboto Flex", sans-serif;
    text-shadow: 1px 1px 2px rgba(104, 104, 104, 0.068);
}

h1{
    font-size: 26px;
    font-weight: 400;
}